# Python
venv/
__pycache__/
*.pyc
*.pyo

# Models (too large for GitHub, use Git LFS later)
models/*.pt


#Datasets
Datasets/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Streamlit
.streamlit/

# Node
node_modules/
package.json
package-lock.json

# Temp files
*.tmp
*.bak
